<section
	id="ShortAbout"
	class="mt-25 flex flex-col items-center mx-[5vw] lg:mx-[30vw] text-center"
>
	<h2>O PROJEKTU</h2>
	<p>
		Projekt Apartmány U Brány Šumavy nabízí ideální kombinací moderní
		architekruty a klidného prostředí Šumavy. Bydlení je navrženo s
		důrazem na komfort, funkčnost a maximální propojení s okolní
		přírodou.
	</p>
	<p>
		Každý apartmán poskytuje dostatek prostoru, světla a kvalitních
		materiálů pro pohodlné bydlení nebo rekreační využití po celý rok.
	</p>
</section>
