---
const { flat } = Astro.props
---

<section id="Heading" class="mt-25 flex flex-col items-center gap-20 lg:gap-40">
	<div
		class="flex w-[80vw] items-center justify-between text-green text-center text-3xl lg:text-5xl font-light"
	>
		{
			flat.id === 1 ? (
				<span class="text-gray">&#10229;</span>
			) : (
				<a
					href={'/flats/'.concat((flat.id - 1).toString())}
					class="hover:cursor-pointer hover:scale-115 transition duration-300"
				>
					&#10229;
				</a>
			)
		}
		<h4>Apartmán č. {flat.id}</h4>
		{
			flat.id === 12 ? (
				<span class="text-gray">&#10230;</span>
			) : (
				<a
					href={'/flats/'.concat((flat.id + 1).toString())}
					class="hover:cursor-pointer hover:scale-115 transition duration-300"
				>
					&#10230;
				</a>
			)
		}
	</div>
	<!-- <div
		class="text-lg flex flex-col gap-5 lg:gap-0 lg:flex-row lg:justify-between w-max lg:w-full lg:max-w-220 border-y py-7.5"
	>
		<a
			download
			href={'/flats_cards/'.concat(flat.card)}
			class="flex items-center hover:cursor-pointer"
		>
			<FileText color="#9faa87" size={56} class="stroke-1 -translate-x-2.25" />
			<span class="font-semibold w-max">KARTA<br />JEDNOTKY</span>
		</a>
		<div class="flex items-center hover:cursor-pointer">
			<FileText color="#9faa87" size={56} class="stroke-1 -translate-x-2.25" />
			<span class="font-semibold w-max">TECHNICKÝ POPIS<br />DOMU</span>
		</div>
		<div class="flex items-center hover:cursor-pointer">
			<FileText color="#9faa87" size={56} class="stroke-1 -translate-x-2.25" />
			<span class="font-semibold w-max">STANDARDY<br />STAVBY</span>
		</div>
		<div class="flex items-center hover:cursor-pointer">
			<FileText color="#9faa87" size={56} class="stroke-1 -translate-x-2.25" />
			<span class="font-semibold w-max">ENERGETICKÝ<br />ŠTÍTEK</span>
		</div>
	</div> -->
</section>
