@layer components {
	.link-button {
		@apply border rounded-full w-max h-[1em] py-[1em] px-[1.5em] font-medium;
		@apply flex text-nowrap text-center items-center justify-center gap-10;
		@apply hover:cursor-pointer;
	}

	.hover-dark {
		@apply text-black border-green hover:bg-black hover:border-black hover:text-green;
	}

	.hover-light {
		@apply text-white border-green hover:bg-green;
	}

	.link-button .link-arrow {
		@apply text-green
	}

	.hover-light:hover .link-arrow {
		@apply text-white
	}

	.locale-button {
		@apply border rounded-full size-[1em] p-[1em];
		@apply flex text-center items-center justify-center;
		@apply hover:cursor-pointer;
	}

	.dialog {
		@apply transition-dialog;
		--translate: none;
		opacity: 0;

		@variant open {
			opacity: 100%;

			@variant starting {
			opacity: 0;
			}
		}

		@media (prefers-reduced-motion: no-preference) {
			translate: var(--translate);

			@variant open {
			translate: none;

				@variant starting {
					translate: var(--translate);
				}
			}
		}
	}

	 .dialog-right {
		--translate: 100% 0;
	}

	.dialog-backdrop {
		&::backdrop {
			@apply transition-dialog bg-black;
			opacity: 0;
		}

		@variant open {
			&::backdrop {
			opacity: 75%;

			@starting-style {
				opacity: 0%;
			}
			}
		}
	}
}
