@utility transition-dialog {
	transition-property: display, overlay, opacity, translate;
	transition-behavior: allow-discrete;
	transition-timing-function: var(--ease-out);
	transition-duration: 300ms;
}
