---
import { Image } from 'astro:assets'
import floorPlan from '#assets/floorplans/floor_plan_1pp.svg'
---

<div id="floorPlanPP" class="relative hidden w-full">
	<Image src={floorPlan} alt="Přízemní apartmány" class="w-full" />
	<svg
		version="1.1"
		x="0px"
		y="0px"
		viewBox="0 0 760.3 185.4"
		style="enable-background:new 0 0 760.3 185.4;"
		xml:space="preserve"
		xmlns="http://www.w3.org/2000/svg"
		class="absolute top-0 left-0 -z-10 w-full"
	>
		<g
			id="flat12"
			class="opacity-0"
			style="enable-background:new 0 0 760.3 185.4"
		>
			<rect
				x="586.09998"
				y="38.099998"
				width="174.2"
				height="147.3"
				id="rect1"
				style="fill:#9faa87"></rect>
			<path
				d="m 331.4,-64.9 c 11.7,0 23.4,0 35.1,0 L 349,-47.4 Z"
				id="path2-4"
				style="enable-background:new 0 0 760.3 185.4;fill:#4e6b56"
				transform="translate(220.1,64.9)"></path>
		</g>
		<g
			id="flat11"
			class="opacity-0"
			transform="translate(220.1,64.9)"
			style="enable-background:new 0 0 760.3 185.4"
		>
			<rect
				x="158"
				y="-27"
				width="171.5"
				height="76.900002"
				id="rect1-2"
				style="fill:#9faa87"></rect>
			<path
				d="m 331.4,-64.9 c 11.7,0 23.4,0 35.1,0 L 349,-47.4 Z"
				id="path2-8"
				style="fill:#4e6b56"></path>
		</g>
		<g
			id="flat10"
			class="opacity-0"
			style="enable-background:new 0 0 760.3 185.4"
		>
			<polygon
				points="249.3,115.1 382.2,115.1 382.2,37.9 210.7,37.9 210.7,112.3 191.5,112.3 191.5,185.4 249.3,185.4 "
				id="polygon2"
				style="enable-background:new 0 0 760.3 185.4;fill:#9faa87"
				transform="translate(-0.20677228)"></polygon>
			<path
				d="m 174.6,-4.8e-7 c 11.7,0 23.4,0 35.1,0 L 192.2,17.5 Z"
				id="path1-5"
				style="fill:#4e6b56"></path>
		</g>
		<g
			id="flat9"
			transform="translate(-12.300012,0.44999852)"
			style="display:inline"
		>
			<polygon
				points="0,116.9 0,185.4 146.5,185.4 146.5,116.9 174.5,116.9 174.5,37.9 0,37.9 0,106.3 "
				id="polygon2-1"
				style="fill:#9faa87"
				transform="translate(12.400012,-0.44999852)"></polygon>
			<path
				d="m 186.90001,-0.44999852 c 11.7,0 23.4,0 35.1,0 l -17.5,17.49999952 z"
				id="path1-8"
				style="fill:#4e6b56"></path>
		</g>
		<g
			id="entries"
			class="opacity-0"
			style="enable-background:new 0 0 760.3 185.4"
		>
			<path
				d="M174.6,0c11.7,0,23.4,0,35.1,0l-17.5,17.5L174.6,0z"
				id="path1"
				style="fill:#4e6b56"></path>
			<path
				d="M551.5,0c11.7,0,23.4,0,35.1,0l-17.5,17.5L551.5,0z"
				id="path2"
				style="fill:#4e6b56"></path>
		</g>
	</svg>
	<svg
		version="1.1"
		x="0px"
		y="0px"
		viewBox="0 0 760.3 185.4"
		style="enable-background:new 0 0 760.3 185.4;"
		xml:space="preserve"
		xmlns="http://www.w3.org/2000/svg"
		class="absolute top-0 left-0 z-10 w-full"
	>
		<g id="oflat12" class="hover:cursor-pointer" style="opacity:0">
			<rect
				x="586.09998"
				y="38.099998"
				width="174.2"
				height="147.3"
				id="rect1-9"
				style="fill:#9faa87"></rect>
		</g>
		<g
			id="oflat11"
			class="hover:cursor-pointer"
			transform="translate(220.1,64.9)"
			style="opacity:0"
		>
			<rect
				x="158"
				y="-27"
				width="171.5"
				height="76.900002"
				id="rect1-2-2"
				style="fill:#9faa87"></rect>
		</g>
		<g id="oflat10" class="hover:cursor-pointer" style="opacity:0">
			<polygon
				points="249.3,115.1 382.2,115.1 382.2,37.9 210.7,37.9 210.7,112.3 191.5,112.3 191.5,185.4 249.3,185.4 "
				id="polygon2-8"
				style="fill:#9faa87"
				transform="translate(-0.20677228)"></polygon>
		</g>
		<g
			id="oflat9"
			class="hover:cursor-pointer"
			transform="translate(-12.300012,0.44999852)"
			style="opacity:0"
		>
			<polygon
				points="0,116.9 0,185.4 146.5,185.4 146.5,116.9 174.5,116.9 174.5,37.9 0,37.9 0,106.3 "
				id="polygon2-1-7"
				style="fill:#9faa87"
				transform="translate(12.400012,-0.44999852)"></polygon>
		</g>
	</svg>
</div>
