---
import { Image } from 'astro:assets'
import floorPlan from '#assets/floorplans/floor_plan_1np.svg'
---

<div id="floorPlanNP" class="relative w-full">
	<Image src={floorPlan} alt="Přízemní apartmány" class="w-full" />
	<svg
		version="1.1"
		x="0px"
		y="0px"
		viewBox="0 0 760.2 279.9"
		style="enable-background:new 0 0 760.2 279.9;"
		xml:space="preserve"
		xmlns="http://www.w3.org/2000/svg"
		class="absolute top-0 left-0 -z-10 w-full"
	>
		<g id="flat1">
			<polygon
				points="0,162.5 0.4,162.5 0.4,235 89.2,235 89.2,158.9 77.2,158.9 77.2,83 0,83 "
				id="polygon1-4"
				style="display:inline;fill:#9faa87"></polygon>
			<path
				d="M 16.2,0 C 27.9,0 39.6,0 51.3,0 L 33.7,17.5 Z"
				id="path5112-4"
				style="fill:#4e6b56"></path>
		</g>
		<g id="flat2" class="opacity-0">
			<polygon
				points="194,235.2 194,159.7 194,159.5 194,83.1 77.2,83.1 77.2,159.7 87.2,159.7 87.2,235.2 "
				id="polygon1-2"
				style="enable-background:new 0 0 760.2 279.9;fill:#9faa87"
				transform="translate(1.6176795,-0.2)"></polygon>
			<path
				d="m 130.6,0 c 11.7,0 23.4,0 35.1,0 l -17.5,17.5 z"
				id="path5113-5"
				style="fill:#4e6b56"></path>
		</g>
		<g
			id="flat3"
			class="opacity-0"
			transform="translate(49.6,281.9)"
			style="display:inline"
		>
			<polygon
				points="301,159.2 311,159.2 311,82.6 194.3,82.6 194.3,159 194.3,159.2 194.3,234.7 301,234.7 "
				id="polygon1-1"
				style="fill:#9faa87"
				transform="translate(-50.3,-281.6)"></polygon>
			<path
				d="m 173.6,-281.9 c 11.7,0 23.4,0 35.1,0 l -17.5,17.5 z"
				id="path5114-8"
				style="fill:#4e6b56"></path>
		</g>
		<g id="flat4" class="opacity-0" transform="translate(0.3,0.05)">
			<polygon
				points="307.9,159.5 297.2,159.5 297.2,235.2 382.9,235.2 382.9,159.5 380.1,159.5 380.1,83.1 307.9,83.1 "
				id="polygon1-6"
				style="fill:#9faa87"
				transform="translate(1.5,-0.25)"></polygon>
			<path
				d="m 336.3,-0.05 c 11.7,0 23.4,0 35.1,0 l -17.6,17.5 z"
				id="path5115-0"
				style="fill:#4e6b56"></path>
		</g>
		<g id="flat5" class="opacity-0" transform="translate(15.897376,-198.8)">
			<polygon
				points="381.4,159.7 383.5,159.7 383.5,234.9 462.3,234.9 462.3,159.2 450.4,159.2 450.4,83.1 381.4,83.1 "
				id="polygon1-5"
				style="fill:#9faa87"
				transform="translate(-16.4,198.9)"></polygon>
			<path
				d="m 373.00262,198.8 c 11.7,0 23.4,0 35.1,0 l -17.5,17.5 z"
				id="path5116-1"
				style="fill:#4e6b56"></path>
		</g>
		<g id="flat6" class="opacity-0" transform="translate(-19,-244.7)">
			<polygon
				points="461.9,234.8 566.3,234.8 566.3,159.6 566.4,159.6 566.4,83.1 449.9,83.1 449.9,159.6 461.9,159.6 "
				id="polygon1-7"
				style="fill:#9faa87"
				transform="translate(19.1,244.9)"></polygon>
			<path
				d="m 521.5,244.7 c 11.7,0 23.4,0 35.1,0 l -17.5,17.5 z"
				id="path5117-8"
				style="fill:#4e6b56"></path>
		</g>
		<g id="flat7" class="opacity-0" transform="translate(-40.5,-291.9)">
			<polygon
				points="566.6,83 683.1,83 683.1,159.5 671.2,159.5 671.2,234.7 566.7,234.7 566.7,159.5 566.6,159.5 "
				id="polygon1-9"
				style="fill:#9faa87"
				transform="translate(40.4,292)"></polygon>
			<path
				d="m 635.3,291.9 c 11.7,0 23.4,0 35.1,0 l -17.5,17.5 z"
				id="path5118-3"
				style="fill:#4e6b56"></path>
		</g>
		<g
			id="flat8"
			class="opacity-0"
			transform="translate(-165.16621,-332.80002)"
		>
			<polygon
				points="693.1,234.7 760.1,234.7 760.1,159.5 760.2,159.5 760.2,83 682.5,83 682.5,159 671.8,159 671.8,235 693.1,235 "
				id="polygon1-8"
				style="fill:#9faa87"
				transform="translate(165.2,333)"></polygon>
			<path
				d="m 873.96621,332.80002 c 11.7,0 23.4,0 35.1,0 l -17.5,17.5 z"
				id="path5119-8"
				style="fill:#4e6b56"></path>
		</g>
		<g
			id="entries"
			class="opacity-0"
			style="enable-background:new 0 0 760.2 279.9"
		>
			<path
				d="M16.2,0c11.7,0,23.4,0,35.1,0L33.7,17.5L16.2,0z"
				id="path5112"
				style="fill:#4e6b56"></path>
			<path
				d="M130.6,0c11.7,0,23.4,0,35.1,0l-17.5,17.5L130.6,0z"
				id="path5113"
				style="fill:#4e6b56"></path>
			<path
				d="M223.2,0c11.7,0,23.4,0,35.1,0l-17.5,17.5L223.2,0z"
				id="path5114"
				style="fill:#4e6b56"></path>
			<path
				d="M336.6,0c11.7,0,23.4,0,35.1,0l-17.6,17.5L336.6,0z"
				id="path5115"
				style="fill:#4e6b56"></path>
			<path
				d="M388.9,0c11.7,0,23.4,0,35.1,0l-17.5,17.5L388.9,0z"
				id="path5116"
				style="fill:#4e6b56"></path>
			<path
				d="M502.5,0c11.7,0,23.4,0,35.1,0l-17.5,17.5L502.5,0z"
				id="path5117"
				style="fill:#4e6b56"></path>
			<path
				d="M594.8,0c11.7,0,23.4,0,35.1,0l-17.5,17.5L594.8,0z"
				id="path5118"
				style="fill:#4e6b56"></path>
			<path
				d="M708.8,0c11.7,0,23.4,0,35.1,0l-17.5,17.5L708.8,0z"
				id="path5119"
				style="fill:#4e6b56"></path>
		</g>
	</svg>
	<svg
		version="1.1"
		x="0px"
		y="0px"
		viewBox="0 0 760.2 279.9"
		style="enable-background:new 0 0 760.2 279.9;"
		xml:space="preserve"
		xmlns="http://www.w3.org/2000/svg"
		class="absolute top-0 left-0 z-10 w-full"
	>
		<g
			id="oflat1"
			class="hover:cursor-pointer"
			style="display:inline;opacity:0"
		>
			<polygon
				points="77.2,83 0,83 0,162.5 0.4,162.5 0.4,235 89.2,235 89.2,158.9 77.2,158.9 "
				id="polygon1-4-9"
				style="display:inline;fill:#9faa87"></polygon>
		</g>
		<g
			id="oflat2"
			class="hover:cursor-pointer"
			style="display:inline;opacity:0"
		>
			<polygon
				points="77.2,83.1 77.2,159.7 87.2,159.7 87.2,235.2 194,235.2 194,159.7 194,159.5 194,83.1 "
				id="polygon1-2-8"
				style="fill:#9faa87"
				transform="translate(1.6176795,-0.2)"></polygon>
		</g>
		<g
			id="oflat3"
			class="hover:cursor-pointer"
			transform="translate(49.6,281.9)"
			style="display:inline;opacity:0"
		>
			<polygon
				points="194.3,159 194.3,159.2 194.3,234.7 301,234.7 301,159.2 311,159.2 311,82.6 194.3,82.6 "
				id="polygon1-1-2"
				style="fill:#9faa87"
				transform="translate(-50.3,-281.6)"></polygon>
		</g>
		<g
			id="oflat4"
			class="hover:cursor-pointer"
			transform="translate(0.3,0.049996)"
			style="opacity:0"
		>
			<polygon
				points="297.2,235.2 382.9,235.2 382.9,159.5 380.1,159.5 380.1,83.1 307.9,83.1 307.9,159.5 297.2,159.5 "
				id="polygon1-6-5"
				style="fill:#9faa87"
				transform="translate(1.5,-0.25)"></polygon>
		</g>
		<g
			id="oflat5"
			class="hover:cursor-pointer"
			transform="translate(15.89738,-198.8)"
			style="opacity:0"
		>
			<polygon
				points="383.5,234.9 462.3,234.9 462.3,159.2 450.4,159.2 450.4,83.1 381.4,83.1 381.4,159.7 383.5,159.7 "
				id="polygon1-5-5"
				style="fill:#9faa87"
				transform="translate(-16.4,198.9)"></polygon>
		</g>
		<g
			id="oflat6"
			class="hover:cursor-pointer"
			transform="translate(-19,-244.7)"
			style="opacity:0"
		>
			<polygon
				points="566.3,159.6 566.4,159.6 566.4,83.1 449.9,83.1 449.9,159.6 461.9,159.6 461.9,234.8 566.3,234.8 "
				id="polygon1-7-8"
				style="fill:#9faa87"
				transform="translate(19.1,244.9)"></polygon>
		</g>
		<g
			id="oflat7"
			class="hover:cursor-pointer"
			transform="translate(-40.5,-291.9)"
			style="opacity:0"
		>
			<polygon
				points="683.1,159.5 671.2,159.5 671.2,234.7 566.7,234.7 566.7,159.5 566.6,159.5 566.6,83 683.1,83 "
				id="polygon1-9-8"
				style="fill:#9faa87"
				transform="translate(40.4,292)"></polygon>
		</g>
		<g
			id="oflat8"
			class="hover:cursor-pointer"
			transform="translate(-165.16621,-332.80002)"
			style="opacity:0"
		>
			<polygon
				points="693.1,234.7 760.1,234.7 760.1,159.5 760.2,159.5 760.2,83 682.5,83 682.5,159 671.8,159 671.8,235 693.1,235 "
				id="polygon1-8-2"
				style="fill:#9faa87"
				transform="translate(165.2,333)"></polygon>
		</g>
	</svg>
</div>
