---
import { Image } from 'astro:assets'
import directionsImg from '#assets/locality.jpg'
import Booklet from '#components/Booklet.astro'
import type { ArgumentsData } from '#types/arguments.ts'
import LinkButton from './LinkButton.astro'
import type { Page } from '#types/booklet.ts'
import BookletMobile from './Booklet-mobile.astro'

interface Props {
	argumentsData: ArgumentsData
}

const { argumentsData } = Astro.props

const matches = import.meta.glob<{ default: Page }>(
	'../assets/booklet-locality/*.{jpeg,jpg,png,webp}',
	{
		eager: true,
	},
)
const pages = Object.values(matches).map((page) => page.default)
---

<section id="Directions" class="mt-25 flex flex-col gap-25 items-center">
	<div class="mx-[4vw] flex flex-col gap-20">
		<h1 class="lg:ml-[8%]">LOKALITA</h1>
		<div
			class="flex flex-col gap-5 lg:grid lg:gap-0 grid-flow-col grid-cols-[55%_45%] items-center"
		>
			<Image
				src={directionsImg}
				alt="Pohled na objekt"
				class="max-h-[calc(80vh-144px)] aspect-video object-cover"
			/>
			<div class="lg:px-[25%] flex flex-col text-justify items-center">
				<h3 class="text-left">VAŠE MÍSTO NA ŠUMAVĚ</h3>
				<p class="mb-5">
					{argumentsData.locality.text}
				</p>
				<LinkButton
					text="Více informací"
					href="#directions-booklet"
					classList="hover-dark text-sm"
				/>
			</div>
		</div>
	</div>
	<hr class="w-[80vw] max-w-lg border-green" />
	<Booklet section="directions" {pages} />
	<BookletMobile section="directions" {pages} />
</section>
