---
import { Image } from "astro:assets";
import buildRect from "#assets/Image_asset_764x535_2x.jpg";
import buildSquare from "#assets/Image_asset_764x700_2x.jpg";
import map from "#assets/mapa.jpg";
import LinkButton from "#components/LinkButton.astro";
---

<section id="Directions" class="mt-25 flex flex-col gap-25 items-center">
	<div class="mx-[4vw] flex flex-col gap-20">
		<h1 class="lg:ml-[8%]">LOKALITA</h1>
		<div class="flex flex-col gap-5 lg:grid lg:gap-0 grid-flow-col grid-cols-[55%_45%] items-center">
			<Image
				src={buildRect}
				alt="Pohled na objekt"
				class="max-h-[calc(80vh-144px)] object-cover"
			/>
			<div class="lg:px-[25%]">
				<h3>VAŠE MÍSTO NA ŠUMAVĚ</h3>
				<p>
					Apartmány U Brány Šumavy se nacházejí v klidné lokalitě na
					dosah šumavské přírody, s výbornou dostupností do okolních
					obcí i sportovních areálů.
				</p>
			</div>
		</div>
		<div class="flex flex-col-reverse gap-5 lg:grid lg:gap-0 grid-flow-col grid-cols-[45%_55%] items-center">
			<div class="lg:px-[25%]">
				<h3>KOMFORTNÍ BYDLENÍ V PŘÍRODĚ</h3>
				<p>
					Projekt Apartmány U Brány Šumavy nabízí ideální kombinaci
					moderní architektury a klidného prostředí Šumavy. Bydlení je
					navrženo s důrazem na komfort, funkčnost a maximální
					propojení s okolní přírodou.
				</p>
				<p>
					Každý apartmán poskytuje dostatek prostoru, světla a
					kvalitních materiálů pro pohodlné bydlení nebo rekreační
					využití po celý rok.
				</p>
			</div>
			<Image src={buildSquare} alt="Pohled na objekt" />
		</div>
	</div>
	<hr class="w-[80vw] max-w-lg border-green" />
	<div class="flex flex-col items-center gap-15">
		<div id="access" class="w-[70vw] flex flex-col text-center gap-y-5 md:grid md:grid-cols-2 md:gap-y-10 lg:gap-0 lg:flex lg:flex-row justify-between justify-items-center">
			<div class="flex flex-col">
				<h4>5 <span>min</span></h4>
				<span>Zdíkov</span>
			</div>
			<div class="flex flex-col">
				<h4>10 <span>min</span></h4>
				<span>Zadov-Churáňov</span>
			</div>
			<div class="flex flex-col">
				<h4>15 <span>min</span></h4>
				<span>Kvilda</span>
			</div>
			<div class="flex flex-col">
				<h4>20 <span>min</span></h4>
				<span>Vimperk</span>
			</div>
		</div>
		<Image src={map} alt="mapa" class="w-full" />
		<LinkButton
		text="Nabídka bytů"
		href="#Flats"
		classList="hover-dark text-sm"
		/>
	</div>
</section>
