---
import { Image } from "astro:assets";
import img1 from "../assets/Image_galllery_asset_placeholder_wide.jpg";
import LinkButton from "./LinkButton.astro";

const {showButton = true} = Astro.props;
---

<section id="Gallery" class="mt-25 flex flex-col gap-20 items-center">
	<div>
		<Image src={img1} alt="Obrázek 1" />
	</div>
	{ showButton
		? <LinkButton text="Nabídka bytů" href="#Flats" classList="hover-dark" />
		: ""
	}
</section>
