---
import { Image } from 'astro:assets'
import video from '#assets/Video_placeholder_1920x1080.jpg'
import LinkButton from '#components/LinkButton.astro'
---

<section id="Hero" class="h-[calc(100vh-144px)] min-h-100 relative">
	<Image src={video} alt="Video okolí" class="w-full h-full object-cover" />
	<div
		class="absolute center top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col gap-15 items-center"
	>
		<div
			class="text-white text-center object-cover flex flex-col gap-4 items-center"
		>
			<span class="text-3xl/[1.2em] lg:text-4xl/[1.2em] font-extralight"
				>MODERNÍ APARTMÁNY <br /> V SRDCI ŠUMAVY</span
			>
			<hr class="w-[50%]" />
			<span class="lg:text-lg">PŘIPRAVENO K NASTĚHOVÁNÍ</span>
		</div>
		<LinkButton
			text="Nabídka apartmánů"
			href="#Flats"
			classList="hover-light text-sm"
		/>
	</div>
</section>
