<div class="flex flex-col gap-6 items-center w-[30vw]">
	<h4 class="font-medium">Odběr novinek</h4>
	<form class="border-b border-green w-full flex">
		<input type="email" placeholder="Zadejte svůj e-mail" class="w-full" />
		<button type="submit" value=">" class="px-1 hover:cursor-pointer"
			>&#9002;</button
		>
	</form>
	<p class="text-center text-xs font-extralight">
		Vaše adresa je u nás v bezpečí přečtěte si naše podmínky zpracování
		osobních údajů.
	</p>
</div>
