---
import { ChevronRight } from '@lucide/astro';
---

<div class="flex flex-col gap-6 items-center w-[85vw] max-w-110">
	<h4 class="font-medium">Odběr novinek</h4>
	<form id="newsletter-form" method="POST" class="w-full border-b border-green flex">
		<input name="email" type="email" required placeholder="Zadejte svůj e-mail" class="w-full" />
		<button type="submit" class="pl-1 hover:cursor-pointer">
			<ChevronRight class="translate-x-2.25"/>
		</button>
	</form>
	<p class="text-center text-xs font-extralight">
		Vaše adresa je u nás v bezpečí přečtěte si naše podmínky zpracování
		osobních údajů.
	</p>
</div>

<script>
	import { actions } from 'astro:actions';


	const newsletterForm = document.getElementById("newsletter-form");
	newsletterForm.addEventListener("submit", async (event: Event) => {
		event.preventDefault();
		const form = event.target;
		const formData = new FormData(form);
		const {data , error} = await actions.newsletter(formData);
		if (!error) form.reset();
	})
</script>
