---
import { Image } from 'astro:assets'
import building from '#assets/floorplans/building.svg'
---

<div class="relative w-full">
	<Image src={building} alt="budova" class="w-full" />
	<svg
		version="1.1"
		x="0px"
		y="0px"
		viewBox="0 0 760.6 158.3"
		style="enable-background:new 0 0 760.6 158.3;"
		xml:space="preserve"
		xmlns="http://www.w3.org/2000/svg"
		class="overflow-visible absolute top-0 left-0 -z-10"
	>
		<g
			id="pp"
			class="opacity-0"
			style="display:inline"
			transform="translate(-0.39996338,-0.10000229)"
		>
			<rect
				x="23.6"
				y="137"
				style="fill:#9faa87"
				width="714.20001"
				height="21.299999"
				id="rect1"></rect>
		</g>
		<g id="np" style="display:inline" transform="translate(-0.39998779)">
			<rect
				x="23.6"
				y="58.599998"
				style="fill:#9faa87"
				width="714.20001"
				height="35"
				id="rect2"></rect>
			<rect
				x="23.6"
				y="93.599998"
				style="fill:#9faa87"
				width="714.20001"
				height="43.299999"
				id="rect3"></rect>
		</g>
	</svg>
	<svg
		version="1.1"
		id="building"
		x="0px"
		y="0px"
		viewBox="0 0 760.6 158.3"
		style="enable-background:new 0 0 760.6 158.3;"
		xml:space="preserve"
		xmlns="http://www.w3.org/2000/svg"
		class="overflow-visible absolute top-0 left-0 z-10"
	>
		<g
			id="opp"
			class="hover:cursor-pointer"
			style="display:inline;opacity:0"
			transform="translate(-0.39995779,-0.100002)"
		>
			<rect
				x="23.6"
				y="137"
				width="714.20001"
				height="21.299999"
				id="rect1-9"
				style="fill:#9faa87"></rect>
		</g>
		<g
			id="onp"
			class="hover:cursor-pointer"
			style="display:inline;opacity:0"
			transform="translate(-0.39998779)"
		>
			<rect
				x="23.6"
				y="58.599998"
				width="714.20001"
				height="35"
				id="rect2-9"
				style="fill:#9faa87"></rect>
			<rect
				x="23.6"
				y="93.599998"
				width="714.20001"
				height="43.299999"
				id="rect3-5"
				style="fill:#9faa87"></rect>
		</g>
	</svg>
</div>
